.footer {
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  // img {
  //   position: absolute;
  //   top: 0;
  //   max-width: 100%;
  //   z-index: 1;
  //   top: 0;
  // }
  .contact {
    text-align: center;
    padding-bottom: 80px;
    ul {
      @include reset-list;
      margin: 0 auto;
      display: inline-block;
      li {
        width: 80px;
        height: 80px;
        margin-left: 250px;
      }
      li:nth-child(1) {
        margin-left: 0;
        background: url(../img/wechat.png) center / contain no-repeat;
      }
      li:nth-child(2) {
        background: url(../img/weibo.png) center / contain no-repeat;
      }
      li:nth-child(3) {
        background: url(../img/email.png) center / contain no-repeat;
      }
    }
  }
  .content-wrapper {
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background: #fff  url(/assets/img/footer.png) bottom / contain no-repeat;
    // background-size: 100% 90%;
    padding-top: 80px;
    p {
      max-width: 200px;
      color: #000;
      font-size: 16px;
      &:first-child {
        color: $white;
      }
    }
  }
}
