@import '../modules/lists';
.header {
  overflow: hidden;
  position: relative;
  background: url(../img/header.png) center top / contain no-repeat,
    url(../img/recommend.png) center bottom / cover;
  min-height: 1160px;
  padding: 40px;
  // background: $darkBlue;
  >img {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
  }
  .left-wrapper {
    position: absolute;
    top: 20px;
    right: 120px;
    z-index: 2;
    input {
      float: right;
    }
    .nav {
      margin-bottom: 10px;
      ul {
        @include reset-list();
        li {
          margin-left: 50px;
        }
        a {
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
  }
  .btns-wrapper {
    position: absolute;
    z-index: 13;
    top: 200px;
    left: 200px;
    .signup-btn {
      margin-top: 40px;
    }
    button {
      padding: 6px 20px;
    }
  }
  .avatar {
    z-index: 13;
    // float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }
  }
  .logo {
    position: absolute;
    top: 20px;
  }
    .gallery {
    width: 100%;
    // background: $darkBlue url(../img/recommend.png) center center / cover;
    color: $white;
    padding: 80px 30px;
    margin-top: 500px;
    z-index: 333;
    h2 {
      text-align: center;
      margin-bottom: 70px;
    }
    ul {
      @include reset-list;
      margin: 0 auto;
      overflow: hidden;
      li {
        float: left;
        width: 20%;
        height: 260px;
        padding: 20px;
        padding-left: 20px;
        color: #fff;
        border: 1px solid rgba(255,255,255, .2);
        cursor: pointer;
        transition: all 0.5s ease-out;
        &:hover {
          transition: all 0.5s ease-out;
          background: $orange;
          box-shadow: 0px 2px 40px #000;
          border: none;
        }
        h3 {
          margin-bottom: 30px;
        }
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}
