.cat {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 13;
  color: $white;
  h2 {
    text-align: center;
  }
  .divider {
    margin: 34px auto 60px;
  }
  .banner {
    height: 360px;
    width: 1300px;
    margin: 0 auto;
    box-shadow: 0 5px 20px rgba(0,0,0, .3);
    >div {
      display: inline-block;
      width: 50%;
      height: 360px;
      color: $white;
    }
    .banner-left {
      float: left;
      padding: 60px 120px;
      background: $deepBlue;
      h3 {
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 30px;
      }
      p {
        color: #ccc;
      }
      .banner-btns {
        margin-top: 50px;
        button{
          border-width: 2px;
          border-color: #ccc;
          height: 40px;
          font-size: 16px;
        }
      }
    }
    .banner-right {
      text-align: center;
      background: url(~img/banner.png) center center / cover no-repeat;
      .mask {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        &:hover i{
          color: #5dbfe1;
        }
        &:hover {
          cursor: pointer;
        }
      }
      i {
        display: inline-block;
        margin-top: 20%;
        font-size: 30px;
      }
    }
  }
  .card-collections {
    width:  1300px;
    margin: 0 auto;
    position: relative;
    .label {
      position: absolute;
      margin: 30px auto 30px;
      left: 0px;
      color: $white;
      background: $darkBlue;
      padding: 16px 40px;
      min-width: 330px;
      font-size: 24px;
      font-weight: normal;
      box-shadow: 0 4px 8px rgba(0,0,0,.5);
      border-radius: 0;
      >span {
        letter-spacing: 10px;
        &:last-child {
          color: $orange;
        }
      }
    }
  }
}
