$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$blue: #5dbfe1;
$teal: #3fd5c5;
$green: #00cc87;
$tea: #86c7a9;
$deepBlue: #1d4c78;
$darkBlue: #173652;
$blue: #3b93ff;
$orange: #f67d3c;
$white: #eee;
$gray: #888;
$deepWhite: #ccc;
$beige: #faf9de;
