.ot-btn {
  border: 1px solid #fff;
  color: $white;
  border: 2px solid $blue;
  text-align: center;
  // width: 150px;
  // height: 56px;
  padding: 8px 40px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  &:hover {
    background: #000;
    color: #5dbfe1;
  }
}
