#music {
  // background: #ccc;
  .header {
    background: url(../img/music-header.png) center top / contain no-repeat,
    url(../img/music-banner.png) center bottom / cover no-repeat;
    min-height: 1000px;
    text-align: center;
    .music-banner {
      margin-top: 170px;
      >ul {
        display: inline-block;
        @include reset-list;
        margin: 0;
        li {
          display: block;
          color: $white;
          width: 250px;
          padding: 14px 20px;
          border: 1px solid rgba(255,255,255,.3);
          cursor: pointer;
          transition: all .5s ease-in-out;
          .icon-music-play {
            float: right;
            background: url('../img/music-play.png') center center / contain no-repeat;
          }
          &:hover {
            background: $orange;
            box-shadow: 0 5px 10px rgba(0,0,0,.5);
            transition: all .2s ease-out;
            border: none;
          }
        }
      }
    }
    .desc-card {
      width: 250px;
      // max-height: 172px;
      margin-left: 40px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      background: $white;
      padding: 20px;
      p {
        margin-bottom: 0;
      }
      div {
          height: 40px;
          width: 40px;
          float: right;
          background: $green;
          border-radius: 50%;
          text-align: center;
          box-shadow: 0 5px 10px $green;
          cursor: pointer;
        i {
          font-size: 18px;
          vertical-align: top;
          color: #fff;
          line-height: 40px;
        }
      }
    }
  }
  .music-main {
    position: relative;
    .playround {
      position: relative;
      min-height: 1100px;
      margin: auto;
      width: 1300px;
      background: $deepBlue;
    }
    .op-bar {
      position: absolute;
      top: -28px;
      width: 100%;
      overflow: hidden;
      .status {
        display: inline-block;
        background: #fff;
        border-radius: 100px;
        padding: 12px 40px;
        height: 50px;
        margin-left: 60px;
        vertical-align: middle;
        span {
          font-size: 22px;
          line-height: 1;
        }
        i {
          vertical-align: top;
          color: $blue;
          font-size: 20px;
          background: transparent;
          text-shadow: 0 5px 10px rgba(0,0,0,.5);
        }
        i:first-child {

        }
        i:last-child {

        }
      }
      ul {
        @include reset-list;
        float: right;
        margin-right: 60px;
        li {
          background: url(../img/music-play-bar.png) center / contain no-repeat;
          width: 60px;
          height: 60px;
          margin-left: 20px;
        }
        li:nth-child(1) {
          background: url(../img/music-filter.png) center / contain no-repeat;
        }
        li:nth-child(2) {
          background: url(../img/music-matrix.png) center / contain no-repeat;
        }
        li:nth-child(3) {
          background: url(../img/music-play-bar.png) center / contain no-repeat;
        }
        li:nth-child(4) {
          background: url(../img/music-ctx-bar.png) center / contain no-repeat;
        }
      }
    }
    .matrix-layout {
      // margin-top: 100px;
      padding-top: 30px;
      height: 1000px;
      margin: 0 auto;
      .card-collection {
        // right: 50%;
        // transform: translateX(-50%);
        background: transparent;
        >ul {
          margin-left: -30px;
        }
        >ul>li {
          margin-left: 30px;
        }
      }
    }
  }
}
