.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.header {
  overflow: hidden;
  position: relative;
  background: url(../img/header.png) center top/contain no-repeat, url(../img/recommend.png) center bottom/cover;
  min-height: 1160px;
  padding: 40px; }
  .header > img {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0; }
  .header .left-wrapper {
    position: absolute;
    top: 20px;
    right: 120px;
    z-index: 2; }
    .header .left-wrapper input {
      float: right; }
    .header .left-wrapper .nav ul {
      list-style: none;
      padding-left: 0; }
      .header .left-wrapper .nav ul li {
        display: inline-block;
        padding-left: 0;
        margin-left: 0; }
      .header .left-wrapper .nav ul li {
        margin-left: 50px; }
      .header .left-wrapper .nav ul a {
        font-size: 22px;
        font-weight: 500; }
  .header .btns-wrapper {
    position: absolute;
    z-index: 13;
    top: 200px;
    left: 200px; }
    .header .btns-wrapper .signup-btn {
      margin-top: 40px; }
  .header .avatar {
    z-index: 13;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden; }
    .header .avatar img {
      border-radius: 50%;
      width: 60px;
      height: 60px; }
  .header .gallery {
    width: 100%;
    color: #eee;
    padding: 80px 30px;
    margin-top: 500px;
    z-index: 333; }
    .header .gallery h2 {
      text-align: center;
      margin-bottom: 70px; }
    .header .gallery ul {
      list-style: none;
      padding-left: 0;
      margin: 0 auto; }
      .header .gallery ul li {
        display: inline-block;
        padding-left: 0;
        margin-left: 0; }
      .header .gallery ul li {
        width: 20%;
        height: 260px;
        padding: 20px;
        padding-left: 20px;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
        transition: all 0.5s ease-out; }
        .header .gallery ul li:hover {
          transition: all 0.5s ease-out;
          background: #f67d3c;
          box-shadow: 0px 2px 40px #000;
          border: none; }
        .header .gallery ul li h3 {
          margin-bottom: 30px; }
        .header .gallery ul li p {
          margin-bottom: 30px; }

.nav ul {
  list-style: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

.divider {
  margin: auto;
  text-align: center;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background: #00cc87; }

[class^=icon] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }

.main {
  position: relative;
  min-height: 4000px; }
  .main .playround {
    position: relative; }
    .main .playround .bg-card {
      position: absolute;
      top: -60px;
      left: 50%;
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
      z-index: 3;
      width: 1200px;
      box-shadow: 0 5px 16px #000;
      height: 4080px;
      background: #173652; }
    .main .playround .cat:nth-child(2) {
      top: 1000px; }
    .main .playround .cat:nth-child(3) {
      top: 2000px; }
    .main .playround .cat:nth-child(4) {
      top: 3000px; }

.footer {
  overflow: hidden;
  position: relative;
  padding-top: 100px; }
  .footer .contact {
    text-align: center;
    padding-bottom: 80px; }
    .footer .contact ul {
      list-style: none;
      padding-left: 0;
      margin: 0 auto;
      display: inline-block; }
      .footer .contact ul li {
        display: inline-block;
        padding-left: 0;
        margin-left: 0; }
      .footer .contact ul li {
        width: 80px;
        height: 80px;
        margin-left: 250px; }
      .footer .contact ul li:nth-child(1) {
        margin-left: 0;
        background: url(../img/wechat.png) center/contain no-repeat; }
      .footer .contact ul li:nth-child(2) {
        background: url(../img/weibo.png) center/contain no-repeat; }
      .footer .contact ul li:nth-child(3) {
        background: url(../img/email.png) center/contain no-repeat; }
  .footer .content-wrapper {
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    height: 400px;
    background: #fff url(/assets/img/footer.png) bottom/contain no-repeat;
    padding-top: 80px; }
    .footer .content-wrapper p {
      max-width: 200px;
      color: #000;
      font-size: 16px; }
      .footer .content-wrapper p:first-child {
        color: #eee; }

.footer {
  overflow: hidden;
  position: relative;
  padding-top: 100px; }
  .footer .contact {
    text-align: center;
    padding-bottom: 80px; }
    .footer .contact ul {
      list-style: none;
      padding-left: 0;
      margin: 0 auto;
      display: inline-block; }
      .footer .contact ul li {
        display: inline-block;
        padding-left: 0;
        margin-left: 0; }
      .footer .contact ul li {
        width: 80px;
        height: 80px;
        margin-left: 250px; }
      .footer .contact ul li:nth-child(1) {
        margin-left: 0;
        background: url(../img/wechat.png) center/contain no-repeat; }
      .footer .contact ul li:nth-child(2) {
        background: url(../img/weibo.png) center/contain no-repeat; }
      .footer .contact ul li:nth-child(3) {
        background: url(../img/email.png) center/contain no-repeat; }
  .footer .content-wrapper {
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    height: 400px;
    background: #fff url(/assets/img/footer.png) bottom/contain no-repeat;
    padding-top: 80px; }
    .footer .content-wrapper p {
      max-width: 200px;
      color: #000;
      font-size: 16px; }
      .footer .content-wrapper p:first-child {
        color: #eee; }

.ot-input {
  height: 36px;
  width: 170px;
  border-radius: 40px;
  padding-left: 20px;
  outline: none;
  border: none;
  background: #eee;
  transition: all 0.3s ease-in; }
  .ot-input:focus {
    width: 270px;
    transition: all 0.3s ease-out; }

.cat {
  position: absolute;
  width: 100%;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  z-index: 13;
  color: #eee; }
  .cat h2 {
    text-align: center; }
  .cat .divider {
    margin: 34px auto 60px; }
  .cat .banner {
    height: 360px;
    width: 1300px;
    margin: 0 auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); }
    .cat .banner > div {
      display: inline-block;
      width: 50%;
      height: 360px;
      color: #eee; }
    .cat .banner .banner-left {
      float: left;
      padding: 60px 120px;
      background: #1d4c78; }
      .cat .banner .banner-left h3 {
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 30px; }
      .cat .banner .banner-left p {
        color: #ccc; }
      .cat .banner .banner-left .banner-btns {
        margin-top: 50px; }
        .cat .banner .banner-left .banner-btns button {
          border-width: 2px;
          border-color: #ccc;
          height: 40px;
          font-size: 16px; }
    .cat .banner .banner-right {
      text-align: center;
      background: url(../img/banner.png) center center/cover no-repeat; }
      .cat .banner .banner-right .mask {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); }
      .cat .banner .banner-right i {
        display: inline-block;
        margin-top: 20%;
        font-size: 30px; }
  .cat .card-collections {
    width: 1300px;
    margin: 0 auto;
    position: relative; }
    .cat .card-collections .label {
      position: absolute;
      margin: 30px auto 30px;
      left: 0px;
      color: #eee;
      background: #173652;
      padding: 16px 40px;
      min-width: 330px;
      font-size: 24px;
      font-weight: normal;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      border-radius: 0; }
      .cat .card-collections .label > span {
        letter-spacing: 10px; }
        .cat .card-collections .label > span:last-child {
          color: #f67d3c; }
    .cat .card-collections .card-collection {
      margin-top: 120px;
      position: absolute;
      right: 0px;
      width: 1200px;
      color: #000;
      background: #86c7a9;
      padding: 30px 20px 10px; }
      .cat .card-collections .card-collection > ul {
        list-style: none;
        padding-left: 0; }
        .cat .card-collections .card-collection > ul li {
          display: inline-block;
          padding-left: 0;
          margin-left: 0; }
        .cat .card-collections .card-collection > ul > li {
          position: relative;
          height: 280px;
          width: calc((99% - 60px) / 3);
          margin-left: 30px;
          background: url(../img/card.png) top/contain no-repeat;
          cursor: pointer;
          border-radius: 6px; }
          .cat .card-collections .card-collection > ul > li .inner-card {
            position: absolute;
            width: 100%;
            bottom: 0;
            background: #eee;
            padding: 14px 20px; }
            .cat .card-collections .card-collection > ul > li .inner-card .slide {
              overflow: hidden;
              height: 0;
              transition: all 0.5s ease-out; }
              .cat .card-collections .card-collection > ul > li .inner-card .slide p:last-child {
                margin-top: 20px;
                padding-bottom: 14px;
                border-bottom: 1px solid #888; }
            .cat .card-collections .card-collection > ul > li .inner-card .footer-bar ul {
              list-style: none;
              padding-left: 0; }
              .cat .card-collections .card-collection > ul > li .inner-card .footer-bar ul li {
                display: inline-block;
                padding-left: 0;
                margin-left: 0; }
              .cat .card-collections .card-collection > ul > li .inner-card .footer-bar ul li {
                margin-left: 10px; }
                .cat .card-collections .card-collection > ul > li .inner-card .footer-bar ul li:first-child {
                  margin-left: 0; }
                .cat .card-collections .card-collection > ul > li .inner-card .footer-bar ul li:last-child {
                  float: right; }
                .cat .card-collections .card-collection > ul > li .inner-card .footer-bar ul li .icon-star {
                  background: url(../img/star.png) center/contain no-repeat; }
                .cat .card-collections .card-collection > ul > li .inner-card .footer-bar ul li .icon-play {
                  background: url(../img/play.png) center/contain no-repeat; }
          .cat .card-collections .card-collection > ul > li:first-child {
            margin-left: 0; }
          .cat .card-collections .card-collection > ul > li:hover {
            box-shadow: 0px 2px 10px #999; }
            .cat .card-collections .card-collection > ul > li:hover .slide {
              height: 100px;
              transition: all 0.5s ease-out; }

.ot-btn {
  border: 1px solid #fff;
  color: #eee;
  border: 2px solid #3b93ff;
  text-align: center;
  padding: 8px 40px;
  font-size: 20px;
  cursor: pointer;
  background: transparent; }
  .ot-btn:hover {
    background: #000;
    color: #5dbfe1; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

.divider {
  margin: auto;
  text-align: center;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background: #00cc87; }

[class^=icon] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }

html, body {
  margin: 0;
  padding: 0; }

a {
  color: #3b93ff;
  text-decoration: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

#music .header {
  background: url(../img/music-header.png) center top/contain no-repeat, url(../img/music-banner.png) center bottom/cover no-repeat;
  min-height: 600px;
  text-align: center; }
  #music .header .music-banner {
    margin-top: 170px; }
    #music .header .music-banner > ul {
      display: inline-block;
      list-style: none;
      padding-left: 0;
      margin: 0; }
      #music .header .music-banner > ul li {
        display: inline-block;
        padding-left: 0;
        margin-left: 0; }
      #music .header .music-banner > ul li {
        display: block;
        color: #eee;
        width: 250px;
        padding: 14px 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer;
        transition: all .5s ease-in-out; }
        #music .header .music-banner > ul li .icon-music-play {
          float: right;
          background: url("../img/music-play.png") center center/contain no-repeat; }
        #music .header .music-banner > ul li:hover {
          background: #f67d3c;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          transition: all .2s ease-out;
          border: none; }
  #music .header .desc-card {
    width: 250px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background: #eee;
    padding: 20px; }
    #music .header .desc-card p {
      margin-bottom: 0; }
    #music .header .desc-card div {
      height: 40px;
      width: 40px;
      float: right;
      background: #00cc87;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0 5px 10px #00cc87;
      cursor: pointer; }
      #music .header .desc-card div i {
        font-size: 18px;
        vertical-align: top;
        color: #fff;
        line-height: 40px; }
